body {
    margin: 0;
    padding: 0;
  }

  .bg {
    background-image: url('../../project_files/artist-ytmusic-img/Alessia2.png'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    position: relative;
    height: 40vh;
    opacity: 1;
    
    }

    .bg::before {
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    }

  .tosongs {
    text-decoration: none;
    color: white;
  }

  .tosongs:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  
  .name {

    position: absolute;
    z-index: 1;

    color:white;
    font-weight: 300;
    opacity: 1;
    font-size: 400%;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 25%;
    bottom: 0%;
  }
  
  .content {
    padding: 20px;
    margin-top: calc(7vh - 50px); /* Adjust the value here to change the amount of overlap */
    background-color: black;
  }

  .albums {
    text-align: center;
    font-weight: 100;
    font-size: 300%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }

  .table, .th, .td {
    border: 1px solid;
    color: white;
    align-items: center;
  }
  
  .flex-container {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 20%;
    /*justify-content: center;
    align-items: center;*/
  }

  .flex-container > div {
    /* background-color: black; */
    margin: 2% 9% 2%;
    padding: 0% 0% 0%;
    font-size: 30px;
    color: white;
    text-align: center;
    font-size:90px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    
  }

  .alcover {
    margin: 2% 2% 2%;
    flex-basis: 30%;
    padding-right: 20%;
    width: 20%;
    /* height: 20%; */
  }

  .desc {
  
    flex-basis: 70%;
    width: 20%;
    font-size: 10%;
  }